@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  .text-theme-onsurface {
    @apply text-black drop-shadow-[0_1px_1px_rgba(255,255,255,0.2)]
           dark:text-white dark:drop-shadow-[0_1px_1px_rgba(0,0,0,0.7)];
  }

  .text-theme-onbackground {
    @apply text-[#F5F1DC] drop-shadow-[0_1px_1px_rgba(255,255,255,0.2)]
           dark:text-white dark:drop-shadow-[0_1px_1px_rgba(0,0,0,0.7)];
  }
  

  .surface {
    @apply rounded-xl p-6 shadow-lg backdrop-blur-md border-2;
    @apply bg-[#F5F1DC]/70 border-black/20;
    @apply dark:bg-[#090040]/30 dark:border-white/10;
  }

  .onClick {
    @apply hover:scale-105 transition-transform duration-200 cursor-pointer
  }
}